body {
    display: flex;
  }
  .editing-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .gallery-box {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  }
  .gallery-img {    
    width: 70px;
    height: 70px;
  }


  .resize-box {
    width: 500px;
    height:500px;
    background-color: aqua;

  }
  