body {
  background-color: grey;
}
.test-box {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.texting-box {
display: flex;
}
.text {
  color: red;
  margin-right: 20px;
  }
span {
  color: blue;
}