body {
    @extend %body;
    background-image: url(../../img/back-img.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left; 
    header {
        @extend %width;
        max-width: 80%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 6%;
        padding-right: 1%;
        position: sticky;
        top: 0px;
        background-color: #dddde1;
        .header-logo {            
            .logo-img {
                max-width: 45px;
                width: 100%;
                max-height: 60px;
                height: 100%;
            }
        }
        .flag-box{
            height: 100%;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            background-image: url(../../img/georgia.png);            
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center; 
            h1 {
                font-family: $gv-reg;
                font-size: 50px;
                font-weight: bolder;
                color: #777575;
            }
            h5 {
                font-family: $L-reg;
                font-size: 33px;
            }
            .geo-map {
                max-width: 250px;
                max-height: 100%;
            }
        }
        
        .language-box{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            a{
                .language-flag {
                    max-width: 20px;
                    max-height: 20px;
                    margin-top: 10px
                }
            }
        }        
    }
    .body-div {
        @extend %width;
        max-width: 80%;
        height: 100%;
        display: flex;
        .menu-box {
            width: 15%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 50px;
            padding: 5% 1%;
            background-color:#dddde1;
            .menu-ul {    
                height: 250px;            
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                li {
                    font-family: $hp-reg;
                    .active {
                        font-weight: bold;
                        color: darkblue;
                    }
                }
            }
            li {
                font-family: $hp-reg;
                .active {
                    font-weight: bold;
                    color: darkblue;
                }
            }
        }
        .info-box {
            width: 85%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            background-color:white;
            .info-img {
                width: 200px;
                height: 200px;
                margin-right: 5%;
                margin-top: 20px;
            }
        }          
    }    
    .footer-box {
        @extend %width;
        max-width: 80%;
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        background-color: #a8a9a8;
        .footer-info {
            width: 30%;
            height: 100%;
            display: flex;        
        }
        .footer-contacts {            
            width: 30%;
            height: 100%;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center; 
            .contact-title {
                font-family: $L-reg;
                font-size: 17px;
            }
            .footer-contact-ul {
                .footer-contact-phone {
                    i {
                        color: #5863F8;
                    }
                    .contact-num {
                        margin-left: 12px;
                        color: #FFFFFF;
                        font-family: 'Poppins Medium';
                        font-size: 14px;
                    }
                }
            }  
        } 
        .footer-social {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .fa-facebook-f,
            .fa-twitter,
            .instagram-logo {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                background-color: #3B5998;
                color: #FFFFFF;
            }
            .fa-twitter {
                background-color: #55ACEE;
                color: #FFFFFF;
            }
        }
    }
}
